
@import '~mapbox-gl/dist/mapbox-gl.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

.map {
  height: 100vh;
  width: 100vw;
}

// /Users/katarzynawypychewicz/development/projects/SEI-project-4/src/assets/amada.jpg
.hero-body {
 background-image: url('/assets/hero2.jpg');
 background-repeat: no-repeat;
 background-size: cover;
}

.about-body {
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 2%;
}


.index-page {

  background-image: url("./assets/parallax.jpg");
  background-repeat: repeat;
  background-size: cover;
  height: 10000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

.container-custom {
      margin-left: 0;
      height: 90vh;
      width: 90vw;

      // display: inline-block;
      // position: absolute;
      // float:left;

}

.title-custom {
  display: flex;
  background-color: rgba(63, 123, 191, 0.5);
  width: 60%;
  margin-top: 30%;
  justify-content: flex-start;
}


  //Location and Register Form

  .newform {
    font-size: 30px;
    font-weight: bold;
    margin: 2% 20%;
    background-color:  rgba(255,255,255, 0.7);
  }

  .user-img {
    height: 200px;
    max-width: 200px;
  }

  .custom-button {
    background-color: rgba(63, 123, 191, 0.3);
  }

  .button-right {
    float: right;
    background-color: rgba(63, 123, 191, 0.3);
  }

.parallax {
  /* The image used */
  background-image: url("./assets/parallax.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* Set a specific height */
  height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}


// Cards
.card-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;



}

.card-custom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15%;

}


// Show page

.show-page {
  margin-top: 3%;
}
.reviewtexarea {
  height: 100px;
  width: 250px;
  border: 1px solid #B9B9BC;
}

.comment {
  display: block;

  width: 250px;
  border: 1px solid #B9B9BC;
  margin-bottom: 10px;

}

.date {
  font-size: 10px;
}

.employees {
  display: flex;
  justify-content: flex-start;


}
.employee-card{

  border: 1px solid #B9B9BC;
  width: 100px;
  height: 200px;
  margin-right: 20px;
  max-width: 700px;

}



//
// .one-article {
//   display: flex;
//
// }
//
//
// .image-article {
//
// }
